<form action="/cart" method="POST">
	<input type="hidden" value="<%= product._id %>" name="productID">
	<input type="hidden" name="_csrf" value="<%= csrfToken %>">
	<button class="btn btn-primary" type="submit">Add to cart</button>
</form>